{% extends "employeebase.html" %}
{% load static %}
{% block title %}
    {{Title}}
{% endblock title %}

{% block container %}
    <section id="section-vendor">
        <div class="container-fluid">
            <!-- filters and search sections -->
            <div class="row justify-content-center">
                <nav aria-label="breadcrumb" class="mt-3">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'employee:department-list' %}" class="lead">Department</a></li>
                      <li class="breadcrumb-item active text-muted" aria-current="page">{{dept_view.name}}</li>
                    </ol>
                </nav>
            </div>
            <!-- end of filters and search sections -->
        </div>
        <hr class="m-0">
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-12 col-sm-12 mx-auto border">
                    <div class="row g-3 mt-3">
                        {% if dept_view %}
                            <div class="col-md-6 my-1">
                                <label for="" class="form-label fw-bold">Department Name:</label> <br>
                                {{dept_view.name}}
                            </div>
                            <div class="col-md-6 my-1">
                                <label for="" class="form-label fw-bold">Manager:</label> <br>
                                {{dept_view.manager}}
                            </div>
                            <div class="mb-1 col-md-5">
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" id="action">Delete</button>
                            </div>
                        {% endif %}                           
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal delete-->
    <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Delete Department?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'employee:dept-delete' dept_view.id %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        Are you sure you want to delete {{dept_view.name}} ? <br>
                        This action cannot be undone, confirm ?
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn" id="action">Understood</button>
                        <button type="button" class="btn" id="action" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>
{% endblock container %}