{% extends "employeebase.html" %}
{% load static %}
{% block title %}
    {{Title}}
{% endblock title %}

{% block container %}
    <section id="section-vendor">
        <div class="container-fluid">
            <!-- filters and search sections -->
            <div class="row justify-content-center">
                <nav aria-label="breadcrumb" class="mt-3">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="{% url 'employee:employee-list' %}" class="lead">Employees</a></li>
                      <li class="breadcrumb-item active text-muted" aria-current="page">{{employee.full_name}}</li>
                    </ol>
                </nav>
            </div>
            <!-- end of filters and search sections -->
        </div>
        <hr class="mt-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mx-auto border">
                    <!-- submenu icons -->
                    <div class="row">
                        <div class="col-4 col-md-1 ms-auto stat" style="background-color: #EAF4F4">
                            <a href="" id="orders-count" class="d-flex align-items-center justify-content-center">
                                <div class="text-center mt-3">
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="text-center mx-1">
                                    <span class="purchase order-count color-danger">0</span><br>
                                    <span>Appraisal</span>
                                </div>
                            </a>
                        </div>
                        {% if contract %}
                            <div class="col-4 col-md-1 stat bg-success">
                                <a href="" id="orders-count" class="d-flex align-items-center justify-content-center">
                                    <div class="text-center mt-3">
                                        <i class="fa-solid fa-pen-to-square text-white"></i>
                                    </div>
                                    <div class="text-center mx-1">
                                        <span class="purchase order-count color-danger text-white">{{count_contract}}</span><br>
                                        <span class="text-white">Contract</span>
                                    </div>
                                </a>
                            </div>                          
                        {% else %}
                            <div class="col-4 col-md-1 stat">
                                <a href="" id="orders-count" class="d-flex align-items-center justify-content-center">
                                    <div class="text-center mt-3">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </div>
                                    <div class="text-center mx-1">
                                        <span class="purchase order-count color-danger">0</span><br>
                                        <span>Contract</span>
                                    </div>
                                </a>
                            </div>
                        {% endif %}                  
                        <div class="col-4 col-md-1 stat" style="background-color: #EAF4F4">
                            <a href="" id="orders-count" class="d-flex align-items-center justify-content-center">
                                <div class="text-center mt-3">
                                    <i class="fa-solid fa-money-bill-trend-up"></i>
                                </div>
                                <div class="text-center mx-1">
                                    <span class="purchase order-count color-danger">0</span><br>
                                    <span>Payslip</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row border justify-content-center mb-4">
                        {% if employee %}
                            <!-- full_name -->
                            <div class="m-2 col-md-5">
                                <p class="display-6">{{employee.full_name}}</p>
                                <p class="lead">{{employee.job_position}}</p>
                            </div>
                            <!-- profile_pix -->
                            <div class="m-2 col-md-5">
                                {% if employee.profile_pix %}
                                    <img src="{{employee.profile_pix.url}}" height="120" width="120" alt="my_image">
                                {% elif employee.gender == Male %}
                                    <img src="{% static 'img/female.jpg' %}" height="120" width="120" alt="my_image">
                                {% else %}
                                    <img src="{% static 'img/student-avatar-male.png' %}" height="120" width="120" alt="my_image">
                                {% endif %}
                            </div>
                            <!-- email -->
                            <div class="m-2 col-md-5">
                                <label for="" class="form-label fw-bold">Email: </label>
                                <p class="lead">{{employee.email}}</p>
                            </div>
                            <!-- phone no -->
                            <div class="m-2 col-md-5">
                                <label for="" class="form-label fw-bold">Phone No: </label>
                                <p class="lead">{{employee.mobile}}</p>
                            </div>
                            <!-- dept -->
                            <div class="m-2 col-md-5">
                                <label for="" class="form-label fw-bold">Department: </label>
                                <p class="lead">{{employee.dept}}</p>
                            </div>
                            <!-- manager-->
                            <div class="m-2 col-md-5">
                                <label for="" class="form-label fw-bold">Manager: </label>
                                <p class="lead">{{employee.dept_coach}}</p>
                            </div>
                            <!-- badge -->
                            <div class="m-2 col-md-5">
                                <label for="" class="form-label fw-bold">Badge ID: </label>
                                <p class="lead">{{employee.badge_id}}</p>
                            </div>
                            <!-- schedule -->
                            <div class="m-2 col-md-5">
                                <label for="" class="form-label fw-bold">Working Hours: </label>
                                <p class="lead">Standard 40 hours/week</p>
                            </div>
                            <div class="m-2 col-md-5">
                                <label for="" class="form-label fw-bold">Company: </label>
                                <p class="lead">
                                    Relational Technologies Limited <br>
                                    250 Executive Park Blvd, Suite 3400, <br>
                                    San Francisco CA 94134. <br>
                                    United States.
                                </p>
                            </div>
                            <div class="m-2 col-md-5">
                                
                            </div>
                        {% else %}
                          
                        {% endif %}   
                    </div>
                    <div class="mb-1 col-md-5">
                        {% for group in request.user.groups.all %}
                            {% if group.name == "HR & Development" %}
                                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" id="action">Update</button>
                                {% if perms.employees.delete_employee %}
                                    <button type="button" class="btn" data-bs-toggle="popover" data-bs-placement="right" data-bs-custom-class="custom-popover" id="action" data-bs-content="This popover is themed via CSS variables.">
                                        <a href="" style="text-decoration: none;color:white">Delete</a>
                                    </button>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Employee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="">
                        {% csrf_token %}
                        {{form.as_p}}
                        <div class="modal-footer">
                            <button type="submit" class="btn" id="action">Update</button>
                            <button type="button" class="btn" data-bs-dismiss="modal" id="action">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock container %}
{% block js_js %}
{% endblock js_js %}