
                            <div class="col-md-6">
                                <label for="{{form.full_name_for_label}}" class="form-label fw-bold">Fullname: </label>
                                {{form.full_name}} <br> {{form.full_name.errors}}
                            </div>
                            <!-- image -->
                            <div class="mb-1 col-md-6">
                                <label for="formFile" class="form-label fw-bold">Profile Pix: </label>
                                {{form.profile_pix}} <br>{{form.profile_pix.errors}}
                            </div>
                            <!-- username -->
                            <div class="mb-1 col-md-6 fw-bold">
                                <label for="{{form.username_for_label}}" class="form-label">Employee Username: </label>
                                {{form.username}} <br>{{form.username.errors}}
                            </div>
                            <!-- dept -->
                            <div class="mb-1 col-md-6 fw-bold">
                                <label for="{{form.dept_for_label}}" class="form-label">Department: </label>
                                {{form.dept}} <br>{{form.dept.errors}}
                            </div>
                            <!-- job position -->
                            <div class="mb-1 col-md-6 fw-bold">
                                <label for="{{form.job_position_for_label}}" class="form-label">Job Position: </label>
                                {{form.job_position}} <br>{{form.job_position.errors}}
                            </div>
                            <!-- dept_coach -->
                            <div class="mb-1 col-md-6 fw-bold">
                                <label for="{{form.dept_coach_for_label }}" class="form-label">Manager: </label>
                                {{form.dept_coach}} <br>{{form.dept_coach.errors}}
                            </div>
                            <!-- level -->
                            <div class="mb-1 col-md-6 fw-bold">
                                <label for="{{form.level_for_label }}" class="form-label">Access Level: </label>
                                {{form.level}} <br>{{form.level.errors}}
                            </div>
                            <!-- phone_no -->
                            <div class="mb-1 col-md-6 fw-bold">
                                <label for="{{form.phone_no_for_label }}" class="form-label">Mobile No: </label>
                                {{form.phone_no}} <br>{{form.phone_no.errors}}
                            </div>
                            <!-- email -->
                            <div class="mb-1 col-md-6 fw-bold">
                                <label for="{{form.email_for_label }}" class="form-label">Email: </label>
                                {{form.email}} <br>{{form.email.errors}}
                            </div>
                            <!-- address -->
                            <div class="mb-1 col-md-6 fw-bold">
                                <label for="{{form.address_for_label }}" class="form-label">Address: </label>
                                {{form.address}} <br>{{form.address.errors}}
                            </div>
                            <!-- marital_status -->
                            <div class="mb-1 col-md-6 fw-bold">
                                <label for="{{form.marital_status_for_label }}" class="form-label">Marital Status: </label>
                                {{form.marital_status}} <br>{{form.marital_status.errors}}
                            </div>
                            <!-- gender_status -->
                            <div class="mb-1 col-md-6 fw-bold">
                                <label for="{{form.gender_status_for_label }}" class="form-label">Gender: </label>
                                {{form.gender_status}} <br>{{form.gender_status.errors}}
                            </div>
                            <!-- dob -->
                            <div class="mb-1 col-md-6 fw-bold">
                                <label for="{{ form.dob.id_for_label }}" class="form-label">DOB: </label>
                                {{form.dob}} <br>{{form.dob.errors}}
                            </div>
                            <!-- nationality -->
                            <div class="mb-1 col-md-6 fw-bold">
                                <label for="{{form.nationality_label }}" class="form-label">Nationality: </label>
                                {{form.nationality}} <br>{{form.nationality.errors}}
                            </div>
                            <!-- emergency_contact -->
                            <div class="mb-1 col-md-6 fw-bold">
                                <label for="{{form.emergency_contact_label }}" class="form-label">Emergency Contact: </label>
                                {{form.emergency_contact}} <br>{{form.emergency_contact.errors}}
                            </div>
                            <!-- school -->
                            <div class="mb-1 col-md-6 fw-bold">
                                <label for="{{form.school_label }}" class="form-label">School Attended: </label>
                                {{form.school}} <br>{{form.school.errors}}
                            </div>
                            <!-- field_study -->
                            <div class="mb-1 col-md-6 fw-bold">
                                <label for="{{form.field_study_label}}" class="form-label">Field of Study: </label>
                                {{form.field_study}} <br>{{form.field_study.errors}}
                            </div>
                            <!-- certificate_level -->
                            <div class="mb-1 col-md-6 fw-bold">
                                <label for="{{form.certificate_level_label}}" class="form-label">Certificate Level: </label>
                                {{form.certificate_level}} <br>{{form.certificate_level.errors}}
                            </div>
                            <!-- mock data -->
                            <div>
                                <!-- name: Prosper Ibe
                                user : hakan123
                                password: Flower@199209
                                email: erpapp.projects@gmail.com
                                Position: Manager 
                                dept: Administration -->
                            </div>
                            <div>
                                <!-- name: Onome Blessing
                                user : Blessing123
                                password: Flower@199209
                                email: Onome@gmail.com
                                Position: Manager 
                                dept: Administration -->
                            </div>
                            <div>
                                <!-- name: Victor Ibe
                                user : Victor123
                                email: Victor@gmail.com
                                Position: Manager 
                                dept: Finance -->
                            </div>
                            <div>
                                <!-- name: Felix Emeka
                                user : Felix123
                                email: Felix@gmail.com
                                Position: Manager 
                                dept: ICT -->
                            </div>
                            <div>
                                <!-- name: Patricia Nkechi
                                user : Patricia123
                                email: Patricia@gmail.com
                                Position: Manager 
                                dept: Human Resource  -->
                            </div>
                            <div>
                                <!-- name: Precious Chinwendu
                                user : Precious123
                                email: Precious@gmail.com
                                Position: Manager 
                                dept: Sales & Marketing  -->
                            </div>
                            <div>
                                <!-- name: Emeka Felix
                                user : Emeka123
                                email: Emeka@gmail.com
                                Position: Manager 
                                dept: Logistics  -->
                            </div>
                            <div>
                                <!-- name: Vivian Ibe
                                user : Vivian123
                                email: Vivian@gmail.com
                                Position: Fianace Supervisor 
                                dept: Finance -->
                            </div>