{% extends "base.html" %}
{% load static%}
{% block title %}
    Reset Password
{% endblock title %}
{% block container %}
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card p-3">
                    <h3 class="text-center">Password Reset Sent</h3>
                    <h5 class="text-center">We've emailed you an instruction to reset your password.</h5>
                    <h6 style="width:60%; margin: 0 auto"> Please make sure you entered the correct email.</h6>
                    <div class="text-center">
                        <a href="{% url 'web:index' %}" class="text-dark btn btn-info">Return to home page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock container %}
